.App{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 244, 213);
    font-family:'Cascadia Code';
    text-align: center;

    background-image: url("");
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


