.App{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(255, 244, 213);
    font-family:'Cascadia Code';
    gap: 20px;
    text-align: center;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

