@import "tailwindcss";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(58, 42, 21);
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
}

:root {
    --animate-delay: 0.9s;
}